
:root {
    --body : white;
    
    --box-shadow-1 : 0 0 5px 1px black;
    --box-shadow-2 : 0 0 10px 2px black;
    --box-shadow-3 : 0 0 15px 3px black;

    --padding-1 : min(1vw,6px) min(4vw,30px);
    --padding-2 : min(5vw,2rem);

    --border-radius-1 : 0.2rem;
    --border-radius-2 : 0.6rem;
    --border-radius-3 : 1rem;

    --width-form : min(calc(100vw - 2rem),400px);

    --bg-Blue : rgb(96, 147, 255);

    --txt-clr-White : rgb(255, 255, 255);

    --ff-Franklin : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --ff-Segoe : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --fs-1 : 0.8rem;
    --fs-2 : 1rem;
    --fs-3 : 1.2rem;
}

:root:has(body.night) {
    --body : black;
}

//** LOGIN ve REGISTER SAYFALARI

body#login,
body#register {

    background-color: rgb(180, 180, 255);
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    text-align: center;
    font-family: var(--ff-Franklin);

    form {
        box-shadow: var(--box-shadow-1),var(--box-shadow-2);
        padding: var(--padding-2);
        border-radius: var(--border-radius-3);
        width: var(--width-form);

        input {
            padding: var(--padding-1);
            border-radius: var(--border-radius-1); 
            width: 100%;       
        }

        .warning-info {
            font-size: var(--fs-1);
            font-family: var(--ff-Segoe);
        }

        #submitBtn {
            background-color: var(--bg-Blue);
            color: var(--txt-clr-White);
        }

        a {
            justify-self: center;
        }
    }

    section {
        padding: var(--padding-2);
        box-shadow: var(--box-shadow-1);
        border-radius: var(--border-radius-2);

        button {
            padding: var(--padding-1);
            border-radius: var(--border-radius-1);
        }
    }
}

//** USER SAYFASI

body#user {

    nav {
        background-color: white;

        &.permenent {
            position: fixed;
            bottom: 0;
            justify-content: space-around;
        }

        &.max800show {
            position: fixed;
            top: 0;
            justify-content: space-between;
            gap: min(2vw,2rem);

            .searchWrapper {
                position: relative;
                width: min(100vw,562px);

                svg {
                    position: absolute;
                    top: 50%; left: 0; transform: translate(50%,-50%);
                    color: gray;
                }

                #searchInp {
                    padding: var(--padding-1);
                    border-radius: var(--border-radius-1);
                    width: 100%;
                    background-color: lightgray;
                    border: none;
                }
            }
        }

        .max800none {
            display: none;
        }

        box-shadow: var(--box-shadow-1);
        width: 100vw;
        padding: var(--padding-1);

        .btnGroup {
            transition: 0.2s;
            cursor: pointer;
            
            &:hover {
                transform: scale(1.1);
            }

            p {
                display: none;
            }
        }

        img {
            width: 30px;
            border-radius: 50%;
        }
    }

    main,aside {
        padding: var(--padding-2);
        padding-block-start: 4rem;
        display: grid;
        justify-content: center;
        gap: min(3vh);


        .postsWrapper {
            width: max(30vw,375px);

            .profile-wrapper {
                justify-content: flex-start;
                gap: 1rem;
                padding: var(--padding-1);
                padding-inline-start: 0.1vw;

                img {
                    border-radius: 50%;
                    width: 4vw;
                    min-width: 40px;
                    aspect-ratio: 1;
                }

                .options {
                    margin-inline-start: auto;
                    font-size: 2rem;
                }
    
                .profileImg {
    
                }
    
                .grid {
                    gap : 0;
    
                    .flex {
                        gap: min(2vw,1rem);
                    }
                }
            }

            .postedMedia {
                width: 100%;
            }

            .buttons {
                justify-content: flex-start;
                gap: min(3vw,22px);
                padding: var(--padding-1);

                svg:last-of-type {
                    margin-inline-start: auto;
                }
            }

            .postedText {

            }

            .area-wrapper {
                padding: var(--padding-1);
                
                textarea {
                    width: 100%;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid;
                    height: min(8vw,3rem);
                    line-height: 1;
                    padding: var(--padding-1);
                }
            }
        }

        .usersWrapper {
            display: grid;
            gap: 1vh;
            width:25vw;

            .wrapper.flex {
                background-color: rgba(211, 211, 211, 0.3);
                padding: max(1vh,0.5rem) max(1vw,0.5rem);
                border-radius: max(0.5vw,0.5rem);

                gap: max(1vw,1rem);

                img {
                    border-radius: 50%;
                    width: 4vw;
                    min-width: 40px;
                    aspect-ratio: 1;
                }

                .grid {
                    gap:unset;

                    .flex {
                        justify-content: flex-start;
                        gap: 1vw;
                    }
                }

                .followBtn {
                    margin-inline-start: 2vw;
                    padding: min(0.5vh,1rem) max(1vw);
                    background-color: var(--bg-Blue);
                    color: var(--txt-clr-White);
                }
            }
        }
    }

    aside {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

}


//** UTILITY CLASSES
.grid {
    display: grid;
    justify-items: stretch;
    gap: 1rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logOutBtn {
    position: absolute;
    top: 0;
    right: 0;
}

